@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8"/>
    <title>@ViewBag.Title - CodeOverFlow</title>
    @Styles.Render("~/Styles/bootstrap")
    @Styles.Render("~/Styles/Site")
    @Scripts.Render("~/Scripts/bootstrap")
</head>
<body>


    <nav class="navbar navbar-expand-sm text-light navbar-light">
        <a class="navbar-brand" id="active" href="#">CodeOverFlow</a>


        <button class="navbar-toggler" data-toggle="Collapse" data-target="#CollabsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="CollabsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" href="/Home">Home</a></li>
                <li class="nav-item active"><a class="nav-link" href="/About">About</a></li>
                <li class="nav-item active"><a class="nav-link" href="/Contact">Contact</a></li>
                <li class="nav-item active"><a class="nav-link" href="/AllCategories">Categories</a></li>
                <li class="nav-item active"><a class="nav-link" href="/AllQuestions">Questions</a></li>
                @if (Session["CurrentUserName"] == null)
                {
                    <li class="nav-item active"><a class="nav-link" href="~/Account/Login">Login</a></li>
                    <li class="nav-item active"><a class="nav-link" href="~/Account/Register">Register</a></li>
                }
                @if (Session["CurrentUserName"] != null)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                            <img src="~/Images/Icon.png" style="width:20px" />
                            @Session["CurrentUserName"]
                        </a>
                        <div class="dropdown-menu MySelector" >
                            <a class="dropdown-item" href="~/Account/ChangeProfile">Change Profile</a>
                            <a class="dropdown-item" href="~/Account/ChangePassword">Change Password</a>
                            <a class="dropdown-item" href="~/Account/logout">Logout</a>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <form action="~/Home/Search" class="form-inline">
            <input type="search" class="form-control mr-sm-2" style="width:150px" placeholder="Search" name="SearchValue" />
            <button class="btn btn-success" style="background-color:#424874; border-color:#dcd6f7">Search</button>
        </form>
    </nav>
   @RenderSection("HomeCard", required:false)
    <div class="container-fluid">

        @RenderBody()

    </div>

</body>
</html>
